<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1.0" />

    <link rel="stylesheet" href="/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&family=Montserrat:wght@100&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="icon" href="/images/favicon.png" />

    <title>Stopwatch</title>
  </head>
  <body data-state="<%= stopwatch.state %>">
    <section class="stopwatch">
      <div class="logo">
        <img src="/images/logo-blue_300.png" alt="logo" />
      </div>
      <div class="wrapper">
        <div class="headline">
          <button class="help-btn" id="help-btn">
            <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" class="icon-size-20px question">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g>
                  <path d="M0 0h32v32H0z"></path>
                  <circle stroke="#1E1B18" stroke-width="1.5" cx="16" cy="16" r="11.25"></circle>
                  <path d="M13 13a3 3 0 013-3h1a3 3 0 013 3v1a2 2 0 01-2 2 2 2 0 00-2 2v1h0"
                        stroke="#004B96" stroke-width="1.5" stroke-linecap="round"></path>
                  <circle fill="#004B96" cx="16" cy="22" r="1"></circle>
                </g>
              </g>
            </svg>
          </button>
          <h1><b>Stopwatch</b></h1>
        </div>

        <div class="popup" id="popup">
          <div class="overlay"></div>
          <div class="content">
            <div class="close-btn" id="close-btn">&times;</div>
            <h1><b>Help</b></h1>
            <p id="help-text">The stopwatch is used to record the duration of work.<hr>
            Use the "Start/Restart" button to turn on the stopwatch.</br>
            You stop them with the "Stop" button.</br>
            A record of the start time, end time and duration of the work is saved in the fields below the stopwatch.</br></br>
            Press the "Save" button to reset the stopwatch and save your work to the calendar.</br>
            But before you do that, you need to fill in the "Description" field, which must be filled in manually.</br></br>
            Press the "Start/Restart" button again to start a new time period.</p>
          </div>
        </div>

        <div class="time-wrapper">
          <p class="time" id="hours">
            <% if (stopwatch.duration) { %>
              <%= new Date(stopwatch.duration).toISOString().substr(11, 8).split(':')[0] %>
            <% } else { %>00<% } %>
          </p>
          <p>:</p>
          <p class="class" id="minutes">
            <% if (stopwatch.duration) { %>
              <%= new Date(stopwatch.duration).toISOString().substr(11, 8).split(':')[1] %>
            <% } else { %>00<% } %>
          </p>
          <p>:</p>
          <p class="time" id="seconds">
            <% if (stopwatch.duration) { %>
              <%= new Date(stopwatch.duration).toISOString().substr(11, 8).split(':')[2] %>
            <% } else { %>00<% } %>
          </p>
        </div>

        <div class="buttons">
          <form method="POST" action="/start">
            <button class="btn-start" id="start" <%= stopwatch.state === 'running' ? 'disabled' : '' %>>
              <b>Start/Restart</b>
            </button>
          </form>

          <form method="POST" action="/stop">
            <button class="btn-stop" id="stop" <%= stopwatch.state !== 'running' ? 'disabled' : '' %>>
              <b>Stop</b>
            </button>
          </form>
        </div>
      </div>
    </section>

    <form id="form" method="POST" action="/save">
      <div class="time-form">
        <div class="input-group">
          <input id="desc-input" class="input" type="text" name="description"
                 value="<%= stopwatch.description || '' %>" required
                 <%= stopwatch.state !== 'stopped' ? 'disabled' : '' %> />
          <label id="desc-label">Description</label>
        </div>
      </div>

      <div class="time-form">
        <div class="input-group">
          <input id="begin-input" class="input" type="text"
                 value="<%= stopwatch.startFormatted %>"
                 readonly />
          <label id="begin-label" class="label">Begin</label>
        </div>

        <div class="input-group">
          <input id="end-input" class="input" type="text"
                 value="<%= stopwatch.endFormatted %>"
                 readonly />
          <label id="end-label" class="label">End</label>
        </div>
      </div>

      <div class="time-form">
        <div class="input-group">
          <input id="dur-input" class="input" type="text"
                 value="<%= stopwatch.durationFormatted %>"
                 readonly />
          <label id="dur-label" class="label">Duration</label>
        </div>
      </div>

      <div class="form-buttons">
        <button class="btn-save" id="save" type="submit" <%= stopwatch.state !== 'stopped' ? 'disabled' : '' %>>
          <b>Save</b>
        </button>
      </div>
    </form>

    <footer>
      <div class="footer">
        <p>Created by Mousey &#x1F42D; with &#x2764;</p>
      </div>
    </footer>
  </body>

  <script src="//code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>

  <script src="/script.js"></script>
</html>